[submodule "Eolienne/web/phpmodbus"]
	path = Eolienne/web/phpmodbus
	url = https://github.com/krakorj/phpmodbus.git
[submodule "Portail/web/phpmodbus"]
	path = Portail/web/phpmodbus
	url = https://github.com/krakorj/phpmodbus.git
[submodule "Template/web/phpmodbus"]
	path = Template/web/phpmodbus
	url = https://github.com/krakorj/phpmodbus.git
